body {
  background: #2c3e50;
  font-family: "Signika", sans-serif;
  font-size: 15px;
  text-shadow: 0 0px #000000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* width */
::-moz-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Track */
::-moz-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 50%);
  border-radius: 10px;
}

/* Handle */
::-moz-scrollbar-thumb {
  background: rgb(0 0 0 / 50%);
  border-radius: 10px;
}

.header.weeklies {
  page-break-before: always;
  page-break-after: always;
}

a {
  color: lightblue;
}

ul {
  list-style: none;
  padding-inline-start: 20px;
}

ul.todo-column {
  flex-direction: column;
  flex-wrap: wrap;
/*   display: flex; */
  column-count: 2;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
}

li {
  margin-left: 5px;
}

input {
  vertical-align: bottom;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

h3 {
  font-weight: bold;
}

.one-sixty {
  font-weight: bold;
}

h3,
span.task-name,
.category,
.last-refresh,
.introduction,
input.current-resin,
input.completed-commissions,
input.completed-requests,
input.completed-bounties,
input.remaining-resin-refill-time,
input.ltuid-input,
input.ltoken-input,
input.uid-input,
input.bp-silence,
.or-text,
.input-description,
.resin-at,
.text-color {
  color: #e4e5f7;
}

.task-name {
  padding-right: 5px;
}

.clickable:hover {
  background: rgb(20 20 20 / 43%);
}

.background-panel {
  background-color: rgba(20, 20, 20, 0.4);
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  padding-bottom: 10px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.category {
  margin-left: 3px;
}

.last-refresh {
  margin-right: 30px;
  font-size: 13px;
  text-align: right;
  margin-bottom: 10px;
  position: absolute;
  bottom: 65px;
  right: 0;
}

.instructions {
  font-size: 11px;
}

.introduction {
  display: flex;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 20px;
}

input.completed-commissions,
input.completed-requests,
input.completed-bounties {
  background: #2c3e50;
  width: 22px;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
}

input.current-resin,
input.bp-silence {
  background: #2c3e50;
  width: 42px;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
}

input.remaining-resin-refill-time {
  background: #2c3e50;
  width: 60px;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
}

input.ltuid-input,
input.ltoken-input,
input.uid-input {
  background: #2c3e50;
  width: 400px;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
  mergin-top: 3px;
  margin-bottom: 3px;
}

.or-text {
  margin-left: 10px;
  margin-right: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap");
@-webkit-keyframes active {
  from {
    box-shadow: inset 0 0 1px 0px rgba(0, 0, 250, 0.6);
  }
  to {
    box-shadow: inset 0 0 1px 1px #cecfd1;
  }
}
@-moz-keyframes active {
  from {
    box-shadow: inset 0 0 1px 0px rgba(0, 0, 250, 0.6);
  }
  to {
    box-shadow: inset 0 0 1px 1px #cecfd1;
  }
}
@keyframes active {
  from {
    box-shadow: inset 0 0 10px 0px rgba(0, 0, 250, 0.6);
  }
  to {
    box-shadow: inset 0 0 1px 1px #cecfd1;
  }
}

.resin-button,
[role="button"] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 42px;
  height: 20px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.commission-button,
.request-button,
.bounty-button {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 35px;
  height: 20px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}
.resin-button::-moz-focus-inner,
.commission-button::-moz-focus-inner,
[role="button"]::-moz-focus-inner {
  border: 0;
}
.resin-button > *,
.commission-button > *,
[role="button"] > * {
  transition: transform 0.2s ease;
}
.resin-button:hover:not([disabled]) > *,
.commission-button:hover:not([disabled]) > *,
[role="button"]:hover:not([disabled]) > * {
  transform: scale(0.975);
}
.resin-button:focus:not(:active),
.commission-button:focus:not(:active),
[role="button"]:focus:not(:active) {
  -webkit-animation: active 0.9s alternate infinite;
  -moz-animation: active 0.9s alternate infinite;
  animation: active 0.9s alternate infinite;
  outline: none;
}

.resin-button:active:not([disabled]) > *,
.commission-button:active:not([disabled]) > *,
[role="button"]:active:not([disabled]) > * {
  transform: scale(0.95);
}
.resin-button:disabled,
.commission-button:disabled,
[role="button"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.resin-button.icon,
.commission-button.icon,
[role="button"].icon {
  width: 50px;
}
.resin-button.icon svg,
.commission-button.icon svg,
[role="button"].icon svg {
  margin-top: 3px;
  width: 30px;
  height: 30px;
}

iframe {
  float: right;
}

.artifact {
  max-width: 100px;
  right: 10%;
  margin-right: -20px;
}

.artifact:last-of-type {
  max-width: 100px;
  right: 10%;
  margin-right: 0px;
}

.material {
  max-width: 100px;
  right: 10%;
  margin-right: -30px;
}

.material:last-of-type {
  max-width: 100px;
  right: 10%;
  margin-right: 0px;
}

.boss-drop {
  max-width: 100px;
}

.materials-frame {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  width: fit-content;
}

.boss-drop-frame {
  margin-left: 20px;
  width: fit-content;
  height: 90px;
}

.materials-frame:hover,
.boss-drop-frame:hover {
  cursor: pointer;
  background-color: rgb(20 20 20 / 63%);
}

.boss-drop-frame .character {
  margin-bottom: 25px;
  max-width: 50px;
}

.boss-drop-frame a div img:last-of-type {
  margin-right: 20px;
}

/* Style the tab */
.navigation-bar {
  overflow: hidden;
  border-bottom: 3px solid #2c3e50;
  width: fit-content;
  /*   background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.navigation-bar button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.navigation-bar button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.navigation-bar button.active {
  background-color: #e4e5f7;
}

/* Style the tab content */
.tab-content {
  padding: 6px 12px;
  height: 88vh;
  overflow: auto;
}
.tab-content + .tab-content {
  display: none;
}

.tab-content {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.navigation-bar button {
  font-weight: bold;
}

.navigation-bar,
.navigation-bar button {
  /*   background-color: rgba(20, 20, 20, 0.6); */
  color: #22303e;
}

.navigation-bar button:not(.active) {
  color: #ffffff;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[tooltip] {
  position: relative;
}
[tooltip]::before {
  content: attr(tooltip-content);
  display: block;
  position: absolute;
  top: 50%;
  right: calc(100% + 16px);
  width: 200%;
  padding: 8px 16px;
  text-align: center;
  text-transform: none;
  font-size: 14px;
  border-radius: 3px;
  background-color: rgb(20 20 20 / 63%);
  opacity: 0;
  transform: translate(20px, -50%);
  transition: all 0.05s ease-in-out 0.05s;
  z-index: 1;
  color: #e4e5f7;
  font-weight: bold;
  font-size: 16px;
}
.boss-drop-frame [tooltip]::before {
  width: 60%;
}
[tooltip]:hover::before {
  opacity: 1;
  transform: translate(0, -50%);
}

[tooltip-right]::before {
  top: 50%;
  left: calc(100% + 16px);
  right: initial;
  transform: translate(-20px, -50%);
}
[tooltip-right]:hover::before {
  transform: translate(0, -50%);
}

a {
  text-decoration: none;
}

.iframe-wrap {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: auto;
}


.iframe {
  width: 100%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: -fill-available;
  border: 0px;
  zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
}


.scaled-iframe {
  width: 100%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: -fill-available;
  border: 0px;
  zoom: 1;
  -moz-transform: scale(.95);
  -moz-transform-origin: 0 0;
  -o-transform: scale(.95);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(.95);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(.95);
  -moz-transform-origin: 0 0;
}


.daily-tab-iframe {
  width: 100%;
  height: 200%;
  border: 0px;
  zoom: 1;
  -moz-transform: scale(.45);
  -moz-transform-origin: 0 0;
  -o-transform: scale(.45);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(.45);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(.45);
  -moz-transform-origin: 0 0;
}

@media screen and ((-webkit-min-device-pixel-ratio:0) or (-moz-min-device-pixel-ratio:0)) {
  #scaled-frame {
    zoom: 1;
  }
}

.tab-content[content='Game8 Tier List'] .iframe-wrap table {
  border-bottom-color: #e4e5f7;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #e4e5f7;
  border-left-width: 0px;
  border-right-color: #e4e5f7;
  border-right-width: 0px;
  border-top-color: #e4e5f7;
  border-top-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  box-sizing: border-box;
  color: #e4e5f7;
  display: table;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 723px;
  line-height: 20px;
  margin-bottom: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  table-layout: auto;
  text-indent: 0px;
  vertical-align: baseline;
  width: 440px;
  word-break: normal;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -moz-border-horizontal-spacing: 0px;
  -moz-border-vertical-spacing: 0px;
}

.resin-table {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 40px;
  border-spacing: 0px 0px;
  background-color: #2c3e50;
  box-shadow: -1px -1px 0px #191919, 1px 1px 0px #6d6d6d;
}

.resin-table td {
  padding-left: 5px;
  padding-right: 5px;
}

.resin-table td + td {
  padding-left: 5px;
}

.help-tip {
  display: inline-block;
  top: 18px;
  right: 18px;
  text-align: center;
  background-color: #3a484e;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 14px;
  cursor: default;
  transform: scale(0.8);
  margin-top: -4px;
}

.help-tip:before {
  font-weight: bold;
  color:#fff;
  font-size: 13px;
}

.help-tip:hover div {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  -moz-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip div {
  display: none;
  text-align: left;
  background-color: #798f9a;
  padding: 20px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 5px;
  width: 500px;
  height: 500px;
  right: 0;
}

.help-tip img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.help-tip div:before { /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #798f9a;
  right: 0.19em;
  top: -9px;
}

.help-tip div:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
    opacity:0; 
    transform: scale(0.6);
  }

  100% {
    opacity:100%;
    transform: scale(1);
  }
}

@-moz-keyframes fadeIn {
  0% { 
    opacity:0; 
    transform: scale(0.6);
  }

  100% {
    opacity:100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}